.contenedor{
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    line-height: 75px;
    margin-top: 15%;
}

.imgLogin{
    width: 100%;
    height: 80%;
}

@media (max-width: 725px) {
    .imgLogin{
        display: none;
    }
}