
  
.titulo{
    text-align: center;
}

.textbox{
    margin-bottom: 1px;
}

.iconSmall {
    font-size: 1px;
}

.botones{
    text-align: center;
}

.iconoPersonal{
    padding-left: 10px;
}

@media (max-width: 725px) {
    .iconoPersonal{
        visibility: hidden;
    }
}

